**/.DS_Store
/library/sequences/

#------------ C++       --------------#
*.exe
*.out
*.app

#------------ Mathematica ------------#
*.nb
*.m
*.cdf
*.wls

#------------ Julia       ------------#
*.ipynb
*.ipynb_checkpoints/

#------------ TeX         ------------#
*.aux
*.log